<nav class="flex justify-between w-full py-4 bg-sky-700 dark:bg-gray-900 shadow-md border-b-4 border-gray-700">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between">
        <nav>
            <ul class="flex items-center justify-between font-bold text-sm dark:text-white uppercase no-underline">
                <li><a class="link_to_home hover:text-gray-200 hover:underline px-4" href="#">Accueil</a></li>
                <li><a class="link_to_articles hover:text-gray-200 hover:underline px-4" href="#">Articles</a></li>
                <li><a class="link_to_about hover:text-gray-200 hover:underline px-4" href="#">A Propos</a></li>
            </ul>
        </nav>
    </div>

    <div id="dark_mode" class="mr-12">
        <div class="w-14 h-8">
            <input type="checkbox" id="dark-mode-toggle" class="hidden" onchange="document.documentElement.classList.toggle('dark')" />
            <label for="dark-mode-toggle" class="w-full h-full bg-gray-800 dark:bg-white rounded-full p-1 flex justify-between cursor-pointer">
                <span class="inline dark:hidden">🌞</span>
                <span class="w-6 h-6 rounded-full bg-white dark:bg-gray-800 block float-right dark:float-left"></span>
                <span class="hidden dark:inline">🌛</span>
            </label>
        </div>
    </div>

</nav>
